{% load static %}
<!DOCTYPE html>
<html lang="es-CL">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
        crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/lightbox.css' %}" type="text/css/">
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}" type="text/css">
    <title>Auxilia</title>
    <link rel="shortcut icon" href="{% static 'img/icono.png' %}">
</head>

<body>
    <!--Header-->
    <header class="container-fluid">
        <div class="row">
            <div class="col col-sm-12 col-md-12 col-lg-12">
                <!---Navbar-->
                <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light headnav">
                    <a class="navbar-brand" href="{% url 'index' %}">
                        <img id="icono-a" src="{% static 'img/icono.png' %}" width="30" height="30" class="d-inline-block align-top"
                            alt="icono">Auxilia</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="{% url 'index' %}">Inicio
                                    <span class="sr-only">(current)</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'formulario' %}">Contacto</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Información
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="{% url 'embajadas' %}">Embajadas</a>
                                    <a class="dropdown-item" href="{% url 'documentos' %}">Documentos</a>
                                </div>
                            </li>
                        </ul>
                        <div class="col-md-4">
                            {% if usuario is None %}
                            <a id="login" class="nav-link textos text-right" href="{% url 'login' %}"><strong>Login</strong></a>
                            {% endif %}
                            <ul class="nav-item dropdown">
                                {% if usuario is not None %}
                                <li class="nav-link dropdown-toggle white-text" id="navbarDropdown" role="button"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Administrador
                                    {{usuario}}</li>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="{% url 'vistaFormulario' %}">Mensajes</a>
                                    <a id="cerrar_sesion" class="dropdown-item textos2" href="{% url 'cerrar_session' %}"><strong>Cerrar
                                            Sesión</strong></a>
                                </div>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </header>
    <section class="container-fluid espacio">
        <div class="row">
            <div class="col col-lg-12">
                <a href=""><img id="img-logo" src="{% static 'img/logotipo.png' %}" alt="logo"></a>
            </div>
        </div>
    </section>

    <section class="container-fluid contactenos">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-12">
                <form action="/vistaFormulario/modificar/{{persona.id}}" method="POST" id="formulario_administrar"
                    class="bd-formulario">
                    {% csrf_token %}
                    <div class="row" id="seccionForm">
                        <div class="col-6 col-sm-6 col-md-6 col-lg-6">
                            <div class="form-group">
                                <label for="nombre">
                                    <strong>Nombre:</strong>
                                </label>
                                <input type="text" name="nombre" id="nombre" class="form-control textos" placeholder="Ingrese su nombre"
                                    value="{{persona.nombre}}" required>
                            </div>
                        </div>
                        <div class="col-6 col-sm-6 col-md-6 col-lg-6">
                            <div class="form-group">
                                <label for="apellido">
                                    <strong>Apellido:</strong>
                                </label>
                                <input type="text" name="apellido" id="apellido" minlength="5" class="form-control"
                                    placeholder="Ingrese su apellido" value="{{persona.apellido}}" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="correo">
                                    <strong>Correo electrónico:</strong>
                                </label>
                                <input type="email" name="correo" id="correo" class="form-control" placeholder="Ej: abc@abc.com"
                                    value="{{persona.correo}}">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="telefono">
                                    <strong>Teléfono:</strong>
                                </label>
                                <input type="number" name="telefono" id="telefono" class="form-control" placeholder="226258830"
                                    value="{{persona.telefono}}">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 col-lg-6">
                            <div class="form-group">
                                <label for="asunto">
                                    <strong>Asunto:</strong>
                                </label>
                                <input type="text" name="asunto" class="form-control" id="asunto" placeholder="Asunto"
                                    value="{{persona.asunto}}" required>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                                <label for="estado">Estado</label>
                                <select class="form-control" name="estado" id="estado">
                                    <option>Pendiente</option>
                                    {% if usuario is not None %}
                                    <option>Respondido</option>
                                    {% endif %}
                                </select>
                            </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="mensaje">
                                    <strong>Mensaje:</strong>
                                </label>
                                <input type="text" class="form-control" name="mensaje" id="mensaje" rows="5" required
                                    value="{{persona.mensaje}}" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="respusta">
                                    <strong>Respuesta:</strong>
                                </label>
                                <textarea type="text" class="form-control" name="respuesta" id="respuesta" rows="8"
                                    required></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <input type="submit" class="btn btn-outline-success btn-block" value="Responder">
                            <br>
                        </div>
                    </div>
            </div>
            </form>
        </div>
        </div>
    </section>

    <section class="container-fluid espacio_pag" id="redes-social">
            <div class="row">
                <div class="col col-sm-12 col-md-12 col-lg-12">
                    <H2 class="text-center textos">Siguenos en redes sociales</H2>
                    <ul class="nav justify-content-center">
                        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Facebook">
                            <a class="nav-link active" href="#">
                                <i class="fab fa-facebook-f fa-2x" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Gmail">
                            <a class="nav-link" href="#">
                                <i class="fab fa-google-plus-g fa-2x" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Instagram">
                            <a class="nav-link" href="#">
                                <i class="fab fa-instagram fa-2x" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Twitter">
                            <a class="nav-link" href="#">
                                <i class="fab fa-twitter fa-2x" aria-hidden="true"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <!--Footer-->
        <footer class="container-fluid footerpie">
            <div class="row">
                <div class="col col-sm-12 col-md-12 col-lg-12">
                    <h6 class="text-center">
                        2018 Auxilia - Calle Parral 123 - Santiago - Chile
                    </h6>
                </div>
            </div>
        </footer>
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{% static 'js/jquery-3.3.1.js' %}"></script>
    <script src="{% static 'js/lightbox-plus-jquery.js' %}"></script>
    <script src="{% static 'js/popper.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/jquery.mask.js' %}"></script>
    <script src="{% static 'js/jquery.validate.js' %}"></script>
    <script src="{% static 'js/jquery.sliphover.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>


</body>

</html>